{% extends 'Basic_templates/base.html' %}
{% load static %}

{% block title %}
    <link rel="stylesheet" href="{% static '/css/pages_style/training.css' %}">
    <title>Тренажер</title>
{% endblock %}
{% block content %}
    <div class="row col-10 initial-form">
        <form class="form justify-content-center" action="{% url 'start_training' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="user_name">Введіть прізвище та ініціали</label>
                <input type="text"  maxlength="64" class="form-control" id="user_name" required>
            </div>
            <div class="row col-12 justify-content-center button_container">
                <button type="submit" class="btn btn-primary">Розпочати тест</button>
            </div>
        </form>
    </div>
    <div class="row col-md-8 justify-content-center align-items-center delete_element" id="test_block">
        <div class="row col-12 justify-content-center transition progress_task">
            <p></p>
        </div>
        <div class="row col-12 justify-content-center transition condition">
            <h3></h3>
        </div>
        <div class="row col-12 list-group">
            <a class="list-group-item list-group-item-action list-group-item-light" data-answer="1"></a>
            <a class="list-group-item list-group-item-action list-group-item-light" data-answer="2"></a>
            <a class="list-group-item list-group-item-action list-group-item-light" data-answer="3"></a>
            <a class="list-group-item list-group-item-action list-group-item-light" data-answer="4"></a>
        </div>
        <div class="row col-12 justify-content-end next-test-btn hide_element transition">
            <button type="button" class="btn btn-outline-secondary">Наступний тест</button>
        </div>
    </div>


    <div class="row col-10 justify-content-center" id="connection_definition">
        <div class="row col-12 title-block">
            <div class="row col-12 justify-content-center transition progress_task">
                <p>Зєд  1|3</p>
            </div>
            <div class="row col-12 justify-content-center condition transition">
                <h4>З'єднайте поняття та його визначення у правильній формі</h4>
            </div>
        </div>
        <div class="row col-12 justify-content-md-between connection_block">
            <div class="col-md-4 transition" id="concepts_block">
                <ul class="row col-12 list-group">
                    <li class="list-group-item list-group-item-light">31</li>
                    <li class="list-group-item list-group-item-light">32</li>
                    <li class="list-group-item list-group-item-light">33</li>
                    <li class="list-group-item list-group-item-light">34</li>
                </ul>
            </div>
            <div class="col-md-4 transition" id="dropzones_block">
                <ul class="row col-12 list-group">
                    <li class="dropzone dropzone_style transition-dropzone" data-dropzone="1"></li>
                    <li class="dropzone dropzone_style transition-dropzone" data-dropzone="2"></li>
                    <li class="dropzone dropzone_style transition-dropzone" data-dropzone="3"></li>
                    <li class="dropzone dropzone_style transition-dropzone" data-dropzone="4"></li>
                </ul>
            </div>
            <div class="col-md-4 transition" id="definition_block">
                 <ul class="row col-12 list-group">
                    <li id="drop-1" class="list-group-item list-group-item-light draggable drag-drop" data-definition="3">
                        Def 3 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </li>
                    <li id="drop-2" class="list-group-item list-group-item-light draggable drag-drop" data-definition="1">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur corporis
                        dolores enim error excepturi fugit maxime minus natus nemo non optio placeat, possimus
                        provident sed soluta suscipit tempore, ullam.
                    </li>
                    <li id="drop-3" class="list-group-item list-group-item-light draggable drag-drop" data-definition="4">
                        Def 4 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Accusantium culpa dolorum ea eligendi eveniet ex exercitationem illum iste modi, molestiae
                    </li>
                    <li id="drop-4" class="list-group-item list-group-item-light draggable drag-drop" data-definition="2">
                        Def 2 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Accusantium culpa dolorum ea eligendi eveniet ex exercitationem illum iste modi, molestiae
                        necessitatibus nobis numquam officia perspiciatis quia quis, quo suscipit voluptatibus!
                         necessitatibus nobis numquam officia perspiciatis quia quis, quo suscipit voluptatibus!
                    </li>
                </ul>
            </div>
        </div>
        <div class="row col-12 justify-content-end next-test-btn hide_element transition">
            <button type="button" class="btn btn-outline-secondary">Наступне завдання</button>
        </div>
    </div>




    <script defer src="{% static '/js/pages_script/training_script.js'%}"></script>
{% endblock %}


