{% extends 'Basic_templates/base.html' %}
{% load static %}

{% block title %}
    <link rel="stylesheet" href="{% static '/css/pages_style/training.css' %}">
    <link rel="stylesheet" href="{% static '/css/media/training.css' %}">
    <title>Тренажер</title>
{% endblock %}
{% block content %}
    <div class="row col-md-10 initial-form">
        <form class="form justify-content-center" action="{% url 'start_training' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="user_name">Введіть прізвище та ініціали</label>
                <input type="text"  maxlength="64" class="form-control" id="user_name" required>
            </div>
            <div class="row col-12 justify-content-center button_container">
                <button type="submit" class="btn btn-primary" id="start_test_btn">Розпочати тест</button>
            </div>
        </form>
    </div>
    <form id="hidden_form" action="{% url 'update_results' %}">
        {% csrf_token %}
    </form>
    <div class="row col-md-8 justify-content-center align-items-center delete_element" id="test_block">
        <div class="row col-12 justify-content-center transition progress_task">
            <p></p>
        </div>
        <div class="row col-12 justify-content-center transition condition">
            <h3></h3>
        </div>
        <div class="row col-12 list-group">
            <a class="list-group-item list-group-item-action list-group-item-light" data-answer="1"></a>
            <a class="list-group-item list-group-item-action list-group-item-light" data-answer="2"></a>
            <a class="list-group-item list-group-item-action list-group-item-light" data-answer="3"></a>
            <a class="list-group-item list-group-item-action list-group-item-light" data-answer="4"></a>
        </div>
        <div class="row col-12 justify-content-end next-test-btn hide_element transition">
            <button type="button" class="btn btn-outline-secondary">Наступний тест</button>
        </div>
    </div>
    <div class="row col-lg-10 justify-content-center delete_element" id="connection_definition">
        <div class="row col-12 title-block">
            <div class="row col-12 justify-content-center transition progress_task">
                <p></p>
            </div>
            <div class="row col-12 justify-content-center condition transition">
                <h4>З'єднайте поняття та його визначення у правильній формі</h4>
            </div>
        </div>
        <div class="row col-12 justify-content-md-between connection_block">
            <div class="col-4 transition" id="concepts_block">
                <ul class="row col-12 list-group">
                    <li class="list-group-item list-group-item-light"></li>
                    <li class="list-group-item list-group-item-light"></li>
                    <li class="list-group-item list-group-item-light"></li>
                    <li class="list-group-item list-group-item-light"></li>
                </ul>
            </div>
            <div class="col-4 transition" id="dropzones_block">
                <ul class="row col-12 list-group">
                    <li class="dropzone dropzone_style transition-dropzone" data-dropzone="1"></li>
                    <li class="dropzone dropzone_style transition-dropzone" data-dropzone="2"></li>
                    <li class="dropzone dropzone_style transition-dropzone" data-dropzone="3"></li>
                    <li class="dropzone dropzone_style transition-dropzone" data-dropzone="4"></li>
                </ul>
            </div>
            <div class="col-4 transition" id="definition_block">
                 <ul class="row col-12 list-group">
                    <li id="drop-1" class="list-group-item list-group-item-light draggable drag-drop" data-definition="3"></li>
                    <li id="drop-2" class="list-group-item list-group-item-light draggable drag-drop" data-definition="1"></li>
                    <li id="drop-3" class="list-group-item list-group-item-light draggable drag-drop" data-definition="4"></li>
                    <li id="drop-4" class="list-group-item list-group-item-light draggable drag-drop" data-definition="2"></li>
                </ul>
            </div>
        </div>
        <div class="row col-12 justify-content-end next-test-btn hide_element transition">
            <button type="button" class="btn btn-outline-secondary">Наступне завдання</button>
        </div>
    </div>
    <div class="row col-10 col-sm-8 delete_element" id="exercises">
        <div class="row col-12 justify-content-center transition align-items-center progress_task progress_block">
            <p></p>
        </div>
        <div class="hint_container transition">
             <a class="btn btn-outline-warning" data-toggle="collapse" href="#hint" role="button" aria-expanded="false" aria-controls="hint">
                Підказка
             </a>
            <div class="collapse transition" id="hint">
              <div class="card card-body">
              </div>
            </div>
        </div>
        <div class="row col-12 justify-content-center transition condition_block align-items-center condition">
            <div class="row col-12 justify-content-center">
                <h3 class="row col-12 justify-content-center"></h3>
                <h4></h4>
            </div>
        </div>
        <div class="row col-12 justify-content-center transition answer_container">
            <form class="form-inline form-answer">
                <div class="input-group">
                    <input id="answer" class="form-control" type="number" step="0.001" placeholder="Відповідь" required>
                    <button type="submit" class="btn btn-outline-secondary transition">Перевірити</button>
                    <div class="valid-feedback">Правильна відповідь</div>
                    <div class="invalid-feedback">Відповідь не вірна</div>
                </div>
            </form>
        </div>


        <div class="row col-12 justify-content-end next-test-btn hide_element transition">
            <button type="button" class="btn btn-outline-secondary">Наступна задача</button>
        </div>
    </div>
    <div class="row col-md-10 justify-content-center align-content-center delete_element transition" id="results">
        <h3>Результати</h3>
        <table class="table table-hover">
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Тести</th>
                <th scope="col">Мозайки</th>
                <th scope="col">Задачі</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <th scope="col">Кількість правильних відповідей</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>

          </tbody>
        </table>
        <div class="row col-12 justify-content-end">
            <a href="/training" class="btn btn-outline-info">Пройти знову</a>
        </div>
    </div>

    <div class="row col-6 col-md-10 justify-content-center align-items-center delete_element" id="error">
        <img class="img-fluid" src="{% static '/img/error/unaviable_task.png' %}" alt="error">
        <div class="row col-12 justify-content-center">
            <div class="alert alert-warning" role="alert">
                <h3>Тренажер тимчасово недоступний через нестачу данних</h3>
            </div>
        </div>
    </div>

    <script defer src="{% static '/js/pages_script/training_script.js'%}"></script>
{% endblock %}


