h2{margin: 0;}
a{text-decoration: none;}

html,body{
	width: 100%;
	height: 100%;
	background: rgb(240,249,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(240,249,255,1) 0%, rgba(203,235,255,1) 23%, rgba(240,249,255,1) 96%, rgba(240,249,255,1) 100%, rgba(161,219,255,1) 100%, rgba(240,249,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 23%,rgba(240,249,255,1) 96%,rgba(240,249,255,1) 100%,rgba(161,219,255,1) 100%,rgba(240,249,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 23%,rgba(240,249,255,1) 96%,rgba(240,249,255,1) 100%,rgba(161,219,255,1) 100%,rgba(240,249,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#f0f9ff',GradientType=0 ); /* IE6-9 */
}

.logo{
	display: block;
	position: absolute;
	width: 10vw;
	z-index: 10;
}
.logo  img{
    display: block;
	width: 65%;
	height: auto;
	margin: auto;
}

.navigation_panel{
	display: flex;
	flex-direction: column;
}
.link{
	border-bottom: 3px solid black;
	position: relative;
	height:32vh;
}
.link:last-child{
	border-bottom: none;
}


.link a{
	display: flex;
	padding-left: 15%;
	height: 100%;
	align-items: center;
}
.link_title{
	position: relative;
	display: inline-block;
	font-size: 5rem;
	color: black;
	font-family: 'Comfortaa';
}
.link_descr{
	opacity: 0;
	position:  absolute;
	left: 65%;
	bottom: 0;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: black;
	font-size: 2rem;
	transition: 0.3s ease-in-out 0.1s;
	text-align: center;

}
a:hover .link_descr{
	opacity: 0.75;
	bottom: 5%;
}




