.wrapper_content{
    overflow: hidden;
}
h3{
    font-weight: bold;
}
#hidden_form{
    visibility: hidden;
}
.initial-form{
    justify-content: center;
    margin-top: 25vh;
    opacity: 1;
    transition: all .3s ease;
}
.button_container{
    margin: 1vw 0 0 0;
    padding: 0;
}
#test_block{
    height: 87vh;
}
.progress_task, .condition{
    opacity: 0;
    visibility: hidden;
}
#test_block .list-group{
    position: relative;
    left:150%;
    transition: all .8s ease;
}
.list-group a:not(:last-of-type){
    display: block;
    margin-bottom: 1%;
}

.transition{
    transition: all .5s ease;
}
.show_test_block{
    left:0!important;
}
.show_element{
    opacity: 1!important;
    visibility: visible!important;
}
.hide_element{
    opacity: 0;
    visibility: hidden;
}
.delete_element{
    display: none;
}

/*style for connection definition */
#connection_definition{
    height: 87vh;
}
#connection_definition .title-block{
    height:15%;
    margin-top: 2%;
}
#connection_definition .connection_block{
    height: 75%;
}
#connection_definition ul{
    height: 100%;
}
#connection_definition .connection_block .col-4:not(:last-child) li{
    height: 20%;
    margin: 2% 0;
}
.draggable{
    -ms-touch-action: none;
    touch-action: none;
}
.connection_block div:first-of-type li{
    text-align: center;
}
.drag-drop{
    z-index: 11;
    position: relative;
}
.dropzone{
    background-color: rgba(166, 170, 166, 0.35);
    border: dashed 3px transparent;
    border-radius: 4px;
    transition: all .3s;
}

.drop-active {
    background: white;
    border-color: #aaa;
}
.drop-target {
  background-color: #6DEE68;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  color: #fff;
  background-color: #29e;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  transition: background-color 0.3s;
}
.cant-drop{
    border:none;
    background-color:#EE5C57;
}
.transition-dropzone{
    transition: all .5s ease;
}
#concepts_block {
    position: relative;
    left:-150%;
    transition-duration: 1.5s;
}
#dropzones_block{
    opacity: 0;
}
#definition_block {
    position: relative;
    right:-150%;
    transition-duration: 1.5s;
}

/*styles for exercises */
#exercises{
    height: 87vh;

}
#exercises .condition_block{
    height: 65%;
}
#exercises .next-test-btn{
    height: 5%;
}
.hint_container{
    position: absolute;
    right: -125%;
    top:10%;
    width: 25%;
    z-index: 10;
}
.answer_container{
    opacity:0;
    visibility: hidden;
    transition-duration: .8s;
}
.show_hint_container{
    right: -25%;
    transition-duration: .8s;
}
.show_answer_container{
    opacity: 1;
    visibility: visible;
}


#results{
    height: 85vh;
}
#error{
    margin-top:10vh;
}
