@media screen and (max-width: 1125px){
    html{
        font-size: 120%;
    }
    .logo{
        width: 20vw;
    }
}
@media screen and (max-width: 1024px){
    html{
        font-size: 100%;
    }
    .logo{
        width: 15vw;
    }
}
@media screen and (max-width: 768px){
    html{
        font-size: 80%;
    }

}
@media screen and (max-width: 640px){
    html{
        font-size: 65%;
    }
}
@media screen and (max-width: 540px){
    html{
        font-size: 55%;
    }
}
@media screen and (max-width: 480px){
    .logo{
        width: 20vw;
    }
    html{
        font-size: 50%;
    }
}
@media screen and (max-width: 425px){

    html{
        font-size: 30%;
    }
}
@media screen and (max-width: 320px){
    html{
        font-size: 25%;
    }
}


/*for orientation landscape*/
@media screen and (max-width: 960px) and (orientation: landscape){
    .logo{
        width: 15vw;
    }
    html{
        font-size: 80%;
    }

}
@media screen and (max-width: 480px) and (orientation: landscape){
    html{
        font-size: 45%;
    }

}
@media screen and (max-width: 320px) and (orientation: landscape){
    html{
        font-size: 30%;
    }

}
