@media screen and (max-width: 1125px){
    html{
        font-size: 120%;
    }
    .logo{
        width: 20vw;
    }
}
@media screen and (max-width: 1034px){
    html{
        font-size: 100%;
    }
    .logo{
        width: 15vw;
    }
}
@media screen and (max-width: 800px){
    html{
        font-size: 80%;
    }
    .logo{
        width: 20vw;
    }

}
@media screen and (max-width: 640px){
    html{
        font-size: 65%;
    }
}
@media screen and (max-width: 540px){
    html{
        font-size: 55%;
    }
}
@media screen and (max-width: 480px){
    .logo{
        width: 20vw;
    }
    html{
        font-size: 50%;
    }
}
@media screen and (max-width: 425px){

    html{
        font-size: 40%;
    }
}
@media screen and (max-width: 320px){
    html{
        font-size: 30%;
    }
    .link_descr{
        font-size: 2.5rem;
    }
}

/*for orientation landscape*/
@media screen and (max-width: 960px) and (orientation: landscape){
    .logo{
        width: 15vw;
    }
    html{
        font-size: 80%;
    }
}
@media screen and (max-width: 768px) and (orientation: landscape){
    html{
        font-size: 55%;
    }
}
@media screen and (max-width: 600px) and (orientation: landscape){
    html{
        font-size: 45%;
    }
}

/*@media screen and (max-width: 480px) and (orientation: landscape){*/
    /*html{*/
        /*font-size: 45%;*/
    /*}*/

/*}*/
@media screen and (max-width: 320px) and (orientation: landscape){
    html{
        font-size: 30%;
    }

}
