@media screen and (max-width: 1440px){
    html{
        font-size: 100%;
    }
}
@media screen and (max-width: 1024px){
    #connection_definition li{
        font-size: 1rem;
    }
    h3,h4{
        font-size: 1.25rem;
    }
    .card{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 800px){
    .hint_container{
        width: 24vw;
    }
    .logo{
        width: 10%;
    }
    .navbar-nav li a{
        font-size: 2.5rem;
    }
    #connection_definition li{
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 600px){
    html{
        font-size: 65%;
    }
    h3{
        font-size: 1.75rem;
    }
    h4{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 480px){
    html{
        font-size: 40%;
    }
    .form-group{
        font-size: 1.25rem;
    }
    #start_test_btn{
        font-size: 1.25rem;
    }
    #connection_definition li{
        font-size: 1.1rem;
    }
    .btn{
        font-size: 1.3rem;
    }
    .card{
        font-size: 1rem;
        padding: 0.5rem;
    }
    .show_hint_container{
        right: -10%;
    }
}
@media screen and (max-width: 375px){
    html{
        font-size: 33%;
    }
    #connection_definition li{
        font-size: 1rem;
    }
}
@media screen and (max-width: 320px){
    html{
        font-size: 28%;
    }
    #connection_definition li{
        font-size: 0.55rem;
    }
}


/*landscape orientation*/
@media screen and (max-width: 1024px) and (orientation: landscape){
    html{
        font-size: 80%;
    }
    #connection_definition li{
        font-size: 0.9rem;
    }

}

@media screen and (max-width: 800px) and (orientation: landscape){
    html{
        font-size: 55%;
    }
    .btn{
        font-size: 0.9rem;
    }
    .show_hint_container{
        right: -27%;
    }
    .hint_container{
        width: 25vw;
    }
    .card{
        font-size: 0.98rem;
        padding: 0.5rem;
    }

    #error{
        margin-top:5vh;
    }
}
@media screen and (max-width: 640px) and (orientation: landscape){
    html{
        font-size: 50%;
    }
    #connection_definition li{
        font-size: 0.9rem;
    }

    .show_hint_container{
        right: -11%;
    }
    .hint_container{
        width: 19vw;
    }
    .card{
        font-size: 0.98rem;
        padding: 0.5rem;
    }
}
@media screen and (max-width: 640px) and (orientation: landscape){
    html{
        font-size: 45%;
    }
}



