{% load static %}

<div class="row">
    <nav class="col-12 navbar navbar-expand-md bg-dark navbar-dark z_ind">
        <a class="logo" href="/"><img src="{% static 'img/logotipe.png' %}" alt="Logo main"></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ml-5">
                <a class="nav-link font_s" href="/training">Тренажер</a>
            </li>
            <li class="nav-item ml-5">
                <a class="nav-link font_s" href="/calculation">Розрахунок</a>
            </li>
            <li class="nav-item ml-5">
                <a class="nav-link font_s" href="/admin">Адміністрування</a>
            </li>
        </ul>
    </nav>
</div>
