@media screen and (max-width: 1366px){
    .logo{
        width: 7%;
    }
}
@media screen and (max-width: 1024px){
    .logo{
        width: 10%;
    }
    #nav-menu li a{
        font-size: 1.25rem;
    }
}
@media screen and (max-width: 800px){
    .logo{
        width: 12%;
    }
    #nav-menu li a{
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 600px){
    #nav-menu li a{
        font-size: 2rem;
    }
}
@media screen and (max-width: 480px){
    #nav-menu li a{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 380px){
    #nav-menu li a{
        font-size: 1.25rem;
    }
}

/*landscape*/
@media screen and (max-width: 800px) and (orientation: landscape){
    .logo{
        width: 10%;
    }
    #nav-menu li a{
        font-size: 1.5rem;
    }
}
